#banner {
    width : 100%;
    
}
.principal{
    background-color: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}
#missao {
    font-size: 20px
}
em strong{
    color:rgb(197, 2, 2)
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 5%;
}
.imagembeneficios{
    width: 50%;
}