header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 125px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}


#banner {
    width : 100%;
    
}
.principal{
    background-color: #cccccc;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
    font-size: 40px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}
#missao {
    font-size: 20px
}
em strong{
    color:rgb(197, 2, 2)
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 5%;
}
.imagembeneficios{
    width: 50%;
}